#from{
    background-color: rgb(156, 211, 211);
    width: 500px;
    height: 300px;
}
button{
    background-color: #cb9393;
}
#name{
color: rgb(0, 0, 0);
border-radius: 50px;
}
#emailid{
    border-radius: 50px;
}
h1{
    bor
}